<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>商品一覧</h1>
  <form th:action="@{/exam06/in-cart}" method="post">
    <span th:each="item, status : ${application.itemList}">
      <span th:text="${item.name}">ダミー</span>
      <span th:text="${item.price}">ダミー</span><span>円</span>
      <button th:name="item_index" th:value="${status.index}">カートへ</button>
      <br>
    </span>
  </form>
  <hr>
  <h1>ショッピングカート</h1>
  <form th:action="@{/exam06/delete}" method="post">
    <span th:each="item, status : ${session.cartItems}">
      <span th:text="${item.name}">ダミー</span>
      <span th:text="${item.price}">ダミー</span><span>円</span>
      <button th:name="item_index" th:value="${status.index}">削除</button>
    <br>
    </span>
  </form>
  <p>合計金額</p>
  <span th:text="${total}"></span><span>円</span>
</body>
</html>
